@use "variables";
@use "sass:color";
@import "~bootstrap/scss/bootstrap";
.game-snippet {
    .game-image-container,
    .game-name {
        text-align: center;
    }
    max-width: variables.$max-width-snippet;
    .game-image-container {
        transition: transform 0.6s;
    }
    a {
        text-decoration: none;
    }
    .game-name {
        max-width: variables.$max-width-snippet;
        display: -webkit-box;
        text-overflow: ellipsis;
        overflow: hidden;
        color: variables.$snippet-text-color;
        &:hover {
            color: color.scale(variables.$snippet-text-color, $blue: 80%);
        }
    }
    &:hover {
        a {
            text-decoration: underline;
        }
        .game-image-container {
            transform: scale(2);
        }
    }
}